@import url('https://fonts.googleapis.com/css2?family=Opens+Sans&family=Raleway&display=swap');
/*syles*/

*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    --intro-email-bg:hsl(217, 28%, 15%);
    --main-bg:hsl(218, 28%, 13%);
    --footer-bg:hsl(216, 53%, 9%);
    --testimonials-bg:hsl(219, 30%, 18%);
    --cyam:hsl(176, 68%, 64%);
    --blue:hsl(198, 60%, 50%);
    --white:hsl(0, 0%, 100%)
}

html{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: var(--main-bg);
}
